html,
body {
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #303030;
}

/* 
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: #eee
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: #666;
  }
} */

.name {
  font-size: 32px;
  color: #666666;
  margin: 40px 0 0 0;
  padding-bottom: 20px;
  border-bottom: 2px solid #eee;
}

.base {
  margin: 20px 0 0 0;
  padding-bottom: 20px;
  border-bottom: 2px solid #eee;
}

.base h1 {
  font-size: 24px;
  color: #303030;
  margin: 0 15px 15px 0;
}

.base h4 {
  font-size: 18px;
  color: #303030;
  margin: 20px 0 10px 0;
}

.base h5 {
  color: #303030;
  margin: 20px 0 10px 0;
  line-height: 1.5;
}

.base p {
  margin: 0;
  padding: 5px 0;
  line-height: 1.5;
}

.base ul {
  margin: 0;
  padding: 0 0 0 20px;
}

.base ul li {
  line-height: 1.5;
  padding: 10px 0;
}

.base .item {
  display: flex;
  align-items: center;
  padding: 13px 0;
  font-size: 14px;
}

.base .item-label {
  color: #444444;
  margin-right: 25px;
  font-weight: 500;
  width: 70px;
}

.base .item-value {
  color: #4f4f4f;
}

.container .col-xs-12 {
  text-align: center;
}

.container .col-xs-12 .head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.container .col-md-3 .head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0px;
}

.container .col-md-9 {
  text-align: left;
}


.header {
  padding: 30px 0;
}

.header h1 {
  margin: 0;
  font-size: 28px;
  line-height: 1;
}

.header h4 {
  margin: 20px 0 10px 0;
  font-size: 18px;
}


.header p {
  margin: 0;
  font-size: 14px;
  line-height: 2;
}

.img {
  background-image: url('../image/head.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}